*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.sitsel-pagination .page-numbers{
    display: flex;
    justify-content: center;
    list-style: none;
    gap:20px;
}
.sitsel-testimonial-box {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 10px;
    text-align: center;
}
.sitsel-testimonial-meta
 {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: start;    
    justify-content: center;
}
.sitsel-author-profile .sitsel-author-img
 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.sitsel-company-logo {
    max-width: 80px;
    margin-bottom: 10px;
}

.sitsel-testimonial-rating .sitsel-star {
    color: #ddd;
}

.sitsel-testimonial-rating .sitsel-star.filled {
    color: #fbc02d;
}
.sitsel-testimonial-slider .swiper-button-prev,
.sitsel-testimonial-slider .swiper-button-next {
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}
.sitsel-grid-inner ,.sitsel-slide-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
