*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.sitsel-pagination .page-numbers{
    display: flex;
    justify-content: center;
    list-style: none;
    gap:20px;
}
.sitsel-testimonial-box {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 10px;
    text-align: center;
}
.sitsel-testimonial-meta
 {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: start;    
    justify-content: center;
}
.sitsel-author-profile .sitsel-author-img
 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.sitsel-company-logo {
    max-width: 80px;
    margin-bottom: 10px;
}

.sitsel-testimonial-rating .sitsel-star {
    color: #ddd;
}

.sitsel-testimonial-rating .sitsel-star.filled {
    color: #fbc02d;
}
.sitsel-testimonial-slider .swiper-button-prev,
.sitsel-testimonial-slider .swiper-button-next {
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}
.sitsel-grid-item-inner ,.sitsel-slide-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}


.sitsel-read-more{
    margin-top:20px;
}


.sitsel-image-overlay-wrap {
    position: relative;
    overflow: hidden;
}
.sitsel-image-overlay-wrap img{
   transition: all 0.6s ease;
}

.sitsel-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    opacity: 0;
    transition: all 0.6s ease;
}

/* Animations on hover */
.sitsel-anim-fade-in:hover .sitsel-image-overlay {
    opacity: 1;
}

.sitsel-anim-fade-out .sitsel-image-overlay {
    opacity: 1;
}

.sitsel-anim-fade-out:hover .sitsel-image-overlay {
    opacity: 0;
}

.sitsel-anim-slide-up .sitsel-image-overlay {
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.4s ease;
}

.sitsel-anim-slide-up:hover .sitsel-image-overlay {
    transform: translateY(0);
    opacity: 1;
}

.sitsel-anim-zoom-in .sitsel-image-overlay {
    transform: scale(0.6);
    opacity: 0;
    transition: all 0.4s ease;
}

.sitsel-anim-zoom-in:hover img {
    transform: scale(1.2);
    opacity: 1;
}
